	
body {
	background : #fff;
	padding-top: 54px;
}

*{
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}

/*Menú de navegación*/

header {
	z-index           : 999;
	top               : 0px;
	height            : 54px;
	width             : 100%;
	background        : #C82606;
	position          : fixed;
	-webkit-box-shadow: 0px 1px 5px #666161;
}

header #logo {
	position: absolute;
	left    : 15px;
}

header #logo img{
	width : 54px;
	height: 54px;
}


#btn-menu{
	display: none;
}

header #logo img,header .material-icons{
	display       : inline-block;
	vertical-align: middle;
}


header #menuboton{
	display    : block;
	font-size  : 34px;
	cursor     : pointer;
	overflow   : hidden;
	position   : absolute;
	right      : 15px;
	top        : 10px;
	color      : #fff;
	font-weight: bold;
}

/*Items del menú principal*/

.menu {
	z-index   : 999;
	position  : absolute;
	top       : 54px;
	left      : 0px;
	width     : 100%;
	transform : translateX(-100%);
	transition: all 0.3s;
}
	
.menu ul {
	background: #C82606;
	display: block;
	list-style: none;
}

.menu ul li:hover ul{
	display: none;
}

.menu ul ul {
	display: none;
	background: #E32E0A;
}

/*Items del sub menu*/

.menu ul ul a{
	padding: 10px 30px;
}

.menu a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu a i{
	position: absolute;
	right: 0;
}

.menu a:hover{
	background: #FFF;
    color: #000000;
    font-weight: bold;
}

#btn-menu:checked ~ .menu{
	transform: translateY(0%);
}


.cajas {
	display: inline-block;
	height: 150px;
	width: 94%;
	float: right;
	margin: 3%;
	-webkit-box-shadow: 0px 1px 5px #666161;
	transition: all 0.3s;
}


#pagName{
	background: #fff;
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px 5%;
	color: #000000;
	z-index: 1000;
}

body section{
	padding-bottom: 54px;
	margin: 0;
    -webkit-box-shadow: 0px 1px 5px #666161;
    -moz-box-shadow: 0px 1px 5px #666161
}



section .sectionleft .sectionName{
	font-weight: bold;
	padding: 10px 7%;
	color: #000000;
	font-size: 1em;
}

section .anclas{
	display: block;
	height: 54px;
	visibility: hidden;
	margin: 0px;
}

section .sectionName{
	font-weight: bold;
	padding: 15px 7%;
	color: #000000;
	font-size: 1em;
}

section .sectionleft .sectionDesc{
	text-align: right;
	padding: 8px 7% 20px 7%;
	color: #000000;
	font-size: .9em;

}

section .sectionleft, section .sectionright{
	margin: 0;
}

section .sectionright{
	height: 40%;
}


section #sectionright img{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#equipo{
	display: block;
	width: 100%;
}

#equipo .sectionName{
	font-size: 20px;
}

#equipo .team1 div .perfil{
	display: block;
	width: 155px;
	height: 155px;
	border-radius: 50%;
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 20px auto;
}

#equipo .team div .perfil{
	display: block;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 20px auto;
}

#equipo div div{
	text-align: center;
}

#equipo .team1 div p{
	width: 80%;
	font-size: 17px;
	display: inline-block;
}

#equipo .team div p{
	font-size: 15px;
	width: 80%;
	display: inline-block;
}

#equipo div div p a{
	text-decoration: none;
}

#equipo div div p a .flaticon-social-linkedin-circular-button:after {
	content: "";
}

#equipo .team1 div p a .flaticon-social-linkedin-circular-button:before {
	font-size: 27px;
	color: #0077B5;
}

#equipo .team div p a .flaticon-social-linkedin-circular-button:before {
	font-size: 25px;
	color: #0077B5;
}

#equipo div div .perfil, #equipo div div p{
	display: inline-block;
	vertical-align: middle;
}


.main{
	width: 100%;
	max-height: 500px;
	margin: 0px auto;
	position: relative;
	-webkit-box-shadow: 0px 1px 5px #666161;
}

.slides{
	width: 100%;
	position: relative;
	overflow: hidden;
	max-height: 500px;
}

.slides img{
	width: 100%;
	height: 100%;
	max-height:500px;
}

.slidesjs-pagination,
.slidejs-navigation{
	margin: 0;
	padding: 0;
	list-style:none;
}

.slidesjs-pagination{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 1%;
	z-index: 800;
}

.slidesjs-pagination li{
	display: inline-block;
	margin: 0px 6px;
}

.slidesjs-pagination li a{
	display: block;
	background: white;
	width: 6px;
	height: 6px;
	border-radius: 12px;
	text-indent: -9999px;
}

.slides .active{
	background: rgba(255, 255, 255, 0.3);
}
.slidesjs-pagination li a:hover{
	background: rgba(255, 255, 255, 0.3);
}

.slidesjs-navigation {
	color: white;
	display: block;
	text-decoration: none;
	position: absolute;
	top:45%;
	z-index: 999;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out; 
	-transition: all 0.5s ease-in-out;  
}

.slidesjs-previous{
	display: none;
	left: -10px;
}

.slidesjs-next{
	display: none;
	right: 10px;
}

.main:hover .slidesjs-previous{
	opacity: 0.7;
}

.main:hover .slidesjs-next{
	opacity: 0.7;
}

footer {
	background: #C82606;
	display: inline-block;
	width: 100%;
}


footer #btn-mail{
	padding: 5px 0px;
	text-align: center;
/*	border-bottom: solid 1px rgba(255,255,255,.5);*/	
}

footer #btn-mail a{
	margin: 5px 10px;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	color: #fff;
	text-decoration: none;

}

footer #btn-mail .material-icons,
footer #btn-mail .flaticon-social-twitter-circular-button::before,
footer #btn-mail .flaticon-social-facebook-circular-button::before,
footer #btn-mail .flaticon-social-linkedin-circular-button::before{

	cursor: pointer;
	color: #fff;
	font-size: 25px;
	margin: 5px 0;
	text-align: center;
	position: relative;
	left: 40%;
}


footer p{
	margin: 0;
	padding: 5px 0px;
	position: relative;
	display: block;
	width: 100%;
	font-size: 10px;
	margin: 5px auto;
	text-align: center;
	color: #fff;
}


@media screen and (min-width: 480px){
	body{
		background: peru;
	}

	.cajas {
	display: inline-block;
	height: 200px;
	}

}


@media screen and (min-width: 600px){
	body{
		background: green;
	}

}

@media screen and (min-width: 750px){
	body{
		background: blue;
	}

	.cajas {
		height: 250px;
		width: 46%;
		margin: 2%;
	}

	#pagName{
		background: #fff;
		font-weight: bold;
		font-size: 1.5em;
		padding: 10px 5%;
		color: #000000;
	}

	section{
		padding-bottom: 30px;
		display: inline-block;
		margin: 0;
	    -webkit-box-shadow: 0px 1px 5px #666161;
	}



	section .sectionleft , section #sectionright {
		display: inline-block;
		height: 400px;
		width: 46%;
		margin: 2%;
		float: left;
		vertical-align: top;
	}

	section .sectionleft .sectionDesc{
		text-align: right;
		padding: 8px 7% 20px 7%;
		color: #000000;
		font-size: .9em;

	}

	#equipo{
	display: block;
	width: 100%;
	}

	#equipo .sectionName{
		font-size: 20px;
	}
	#equipo .team1{
		display: block;
		width: 90%;
		margin: 0 auto;

	}
	#equipo .team1 div{
		width: 24.5%;
		margin: 2% 4%;
		text-align: center;
		display: inline-block;
	}
	
	#equipo .team{
		display: block;
		width: 90%;
		margin: 0 auto;
	}

	#equipo .team div{
		width: 30%;
		margin: 1.5% 1.3%;
		display: inline-block;
		text-align: center;
	}


	#equipo .team1 div p{
		width: 80%;
		font-size: 17px;
		display: inline-block;
	}

	#equipo .team div p{
		font-size: 15px;
		width: 80%;
		display: inline-block;
	}

	#equipo div div p a{
		text-decoration: none;
	}

	#equipo div div p a .flaticon-social-linkedin-circular-button:after {
		content: "";
	}

	#equipo .team1 div p a .flaticon-social-linkedin-circular-button:before {
		font-size: 27px;
		color: #0077B5;
	}

	#equipo .team div p a .flaticon-social-linkedin-circular-button:before {
		font-size: 25px;
		color: #0077B5;
	}

	#equipo div div .perfil, #equipo div div p{
		display: inline-block;
		vertical-align: middle;
	}
}
	



@media screen and (min-width: 950px){
	body{
		background: #fff;
	}
	header {
		top: 0px;
		width: 100%;
		height: 64px;
		position: fixed;		
		-webkit-box-shadow: 0px 1px 5px #666161;
	}

	header #logo{
		display: block;
		z-index: 999;
        position: relative;
        left: 25px;
	}

	header #logo img{
		width: 64px;
		height: 64px;
	}
	
	header #menuboton{
    	display: none;
	}

	.menu {
        left: 45%;
		width: inherit;
		top: 0;
        transform: translateY(0%);        
	}	

	.menu ul ul a{
		padding: 17px 30px;
	}

	.menu a{
		padding: 23px 40px;
	}
	.menu ul{
		display: flex;
	}

	.menu ul li:hover ul{
		display: block;
		position: absolute;
	}

	.cajas {
	height: 350px;
	width: 21%;
	margin: 2%;
	}	
	
	#pagName{
		width: 50%;
		background: #fff;
		font-weight: bold;
		font-size: 1.5em;
		padding: 10px 5%;
		color: #000000;
	}
	
	body section{
		display: inline-block;
		background: #fff;
		padding-bottom: 64px;
	}

	section .anclas{
	height: 64px;	
	}

		#equipo{
	display: block;
	width: 100%;
	}

	#equipo .sectionName{
		font-size: 20px;
	}

	/*#equipo .team1 div{
		width: 28%;
		margin: 1% 2.5%;
		text-align: center;
		display: inline-block;
	}
*/
	#equipo .team1 div p{
		width: 80%;
		font-size: 17px;
		display: inline-block;
	}
	/*#equipo .team div{
		width: 25%;
		margin: 1% 4%;
		text-align: center;
		display: inline-block;
	}*/

	#equipo .team div p{
		font-size: 15px;
		width: 80%;
		display: inline-block;
	}

	#equipo div div p a{
		text-decoration: none;
	}

	#equipo div div p a .flaticon-social-linkedin-circular-button:after {
		content: "";
	}

	#equipo .team1 div p a .flaticon-social-linkedin-circular-button:before {
		font-size: 27px;
		color: #0077B5;
	}

	#equipo .team div p a .flaticon-social-linkedin-circular-button:before {
		font-size: 25px;
		color: #0077B5;
	}

	#equipo div div .perfil, #equipo div div p{
		display: inline-block;
		vertical-align: middle;
	}
}
	


	footer #btn-mail, footer p{
		display: block;
	}
	
	footer #btn-mail{
		width:100%;
		padding: 8px;
	}

	footer p{
		height: 15%;
		display: block;
		padding-top: 10px;
	}


    
}


2017jg

